@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inter:wght@500&family=Nunito+Sans:wght@200&family=Poppins:wght@500&family=Roboto:wght@500&family=Sora:wght@500&family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');


.coursContainer {

}



.courseFirstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}


.courseh1 {
    color: #1289FF;
    font-weight: 400;
    font-family: 'DM Serif Text';
    font-style: normal;
}


.containCourseLinks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
}


.courseactive {
    background: #0080FF;
    border-radius: 8px;
    width: 75px;
    text-align: center;
    color: #FFF;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
}


.courseinactive {
    background: #EAF5FF;
    border-radius: 7px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    padding: 2px;
    color: #3097FD;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
}



.containSlider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 107px;
    gap: 10px;
    margin-top: 83px;
}



.slidercontentcontainerone {
    background: #FBFDFF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 196px;
    padding-bottom: 100px;
    gap: 14px;
    width: 929px;
    padding: 1px 44px 13px 44px;
    min-width: 262px;
}




.slidercontentcontainer {
    background: #EAF5FF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 296px;
    padding-bottom: 100px;
    gap: 14px;
    width: 929px;
    padding: 1px 44px 13px 44px;
    min-width: 262px;
}


.operate {
    width: 50%;
    height: auto;
}




.operateothers {
    width: 42%;
    height: auto;
    padding-bottom: 20px;
}





.img-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sliderheader {
    color: #1289FF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
}


.contents {
    color: #393939;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
}


.sliderbuttoncontain {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sliderbutton {
    border: 1px solid #0080FF;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #1289FF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    width: 109px;
}





.courseSecondcontainer {
    background: #0080FF;
    display: flex;
    padding: 26px;
}




.moralisimgcontainer {
    flex: 31;
}



.text-courses {
    padding: 47px 10px 10px 10px;
    flex: 20;
}


.text-courses h1 {
    color: #FFFFFF;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
}


.courses-text-desc {
    color: #FBFDFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    width: 83%;
    line-height: 34px;
}